@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen;
    background-color: #45a173;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    touch-action: none;
  }
  svg {
    overflow: visible;
  }

  .card,
  .pile {
    width: clamp(30px, 7.5vw, 120px);
    border-radius: clamp(3px, 0.7vw, 6px);
  }

  .pile-container {
    @apply flex items-start justify-center;
    gap: clamp(4px, 1vw, 20px);
  }

  .pile {
    @apply border-2 border-[#ffffff33] bg-[#ffffff22] aspect-square;
  }

  .card {
    @apply absolute overflow-hidden pointer-events-auto;
    transition-timing-function: ease-in-out;
    pointer-events: auto;
    border: 0.08rem solid #333;
  }
}
