@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url('/Roboto.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --base-min: 30px;
    --base-vw: 8vw;
    --base-max: 120px;
    --base-size: clamp(var(--base-min), var(--base-vw), var(--base-max));

    --base-padding: calc(var(--base-size) * 0.04);
    --base-gap: calc(var(--base-size) * 0.1);
  }

  body {
    @apply min-h-screen;
    background-color: #45a173;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    touch-action: none;
  }
  svg {
    overflow: visible;
  }

  .card,
  .pile {
    width: var(--base-size);
    aspect-ratio: 0.715;
  }

  .card,
  .pile,
  .card-front,
  .card-back {
    border-radius: calc(var(--base-size) * 0.05);
  }

  .card .card-front {
    @apply flex flex-col h-full w-full relative justify-center items-center bg-[#ebf0ee];
    border: 0.05vw solid #0004;
  }

  .card .card-back {
    @apply absolute inset-0 z-[100000] bg-[#ebf0ee] opacity-0 transition-opacity duration-500;
    padding: calc(var(--base-padding) * 0.8);
    color: #e74c3c;
  }

  .card.face-down .card-back {
    @apply opacity-100;
  }

  .card .corner-rank {
    @apply font-bold leading-[1] absolute flex items-center;
    font-size: calc(var(--base-size) * 0.2);
    gap: calc(var(--base-size) * 0.03);

    .rank {
      width: calc(var(--base-size) * 0.12);
      @apply flex justify-center items-center;
    }

    svg {
      width: calc(var(--base-size) * 0.14);
    }

    &.tl {
      top: var(--base-padding);
      left: var(--base-padding);
    }
    &.br {
      bottom: var(--base-padding);
      right: var(--base-padding);
      transform: rotate(180deg);
    }
  }

  .card .center-suit {
    width: calc(var(--base-size) * 0.35);
  }

  .gap-board {
    gap: calc(var(--base-gap));
  }

  .pile {
    @apply border-[0.15vw] border-[#ffffff33] bg-[#ffffff22] relative pointer-events-none;
  }

  .card {
    @apply absolute pointer-events-none;
  }

  .card.inactive::before,
  .pile::before {
    content: '';
    position: absolute;
    pointer-events: auto;
    inset: calc(var(--base-gap) * -1);
  }
  .pile.tableau::before {
    inset: calc(var(--base-gap) * -1) calc(var(--base-gap) * -1)
      calc(var(--base-gap) * -20);
  }
}
