@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --base-min: 30px;
    --base-vw: 8vw;
    --base-max: 120px;
    --base-size: clamp(var(--base-min), var(--base-vw), var(--base-max));

    --base-padding: calc(var(--base-size) * 0.04);
    --base-gap: calc(var(--base-size) * 0.1);
  }

  body {
    @apply min-h-screen;
    background-color: #45a173;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    touch-action: none;
  }
  svg {
    overflow: visible;
  }

  .card,
  .pile {
    width: var(--base-size);
    aspect-ratio: 0.75;
    border-radius: calc(var(--base-size) * 0.08);
  }

  .card .card-front {
    @apply flex flex-col h-full w-full relative justify-center items-center;
  }

  .card .corner-rank {
    @apply font-bold leading-[1] absolute flex items-center;
    font-size: calc(var(--base-size) * 0.175);

    svg {
      width: calc(var(--base-size) * 0.12);
    }

    &.tl {
      top: var(--base-padding);
      left: var(--base-padding);
    }
    &.br {
      bottom: var(--base-padding);
      right: var(--base-padding);
      transform: rotate(180deg);
    }

    gap: calc(var(--base-size) * 0.03);
    &.water {
      gap: calc(var(--base-size) * 0.01);
    }
    &.shield,
    &.diamond {
      gap: calc(var(--base-size) * 0.02);
    }
  }

  .card .center-suit {
    width: calc(var(--base-size) * 0.3);
  }

  .gap-board {
    gap: calc(var(--base-gap));
  }

  .pile {
    @apply border-2 border-[#ffffff33] bg-[#ffffff22] relative pointer-events-none;
  }

  .card {
    @apply absolute bg-white pointer-events-none;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    border: 0.08rem solid #333;
  }

  .card.inactive::before,
  .pile::before {
    content: '';
    position: absolute;
    pointer-events: auto;
    inset: calc(var(--base-gap) * -1);
  }
}
