@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen;
    background-color: #45a173;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    touch-action: none;
  }
  svg {
    overflow: visible;
  }

  .pile {
    @apply rounded-md border-2 border-[#ffffff33] bg-[#ffffff22] aspect-square;
  }

  .card {
    @apply absolute overflow-hidden pointer-events-auto;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    pointer-events: auto;
    border-radius: 0.3rem;
    border: 0.08rem solid #333;
  }
}
